@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Noto+Sans:ital@1&display=swap');
:root{
    --second-color: #D2872C;
    --main-color: #766F68;
}


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;    
    text-decoration: none;
    outline: none;
    border: none;


}

html{
    font-size: 62.5%;
    overflow: hidden;
    max-width: 1200px;
     padding: 5px;
}

.navbarInt{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left:0;
    padding: 1rem;
  
}

li{
    display:flex;
    float: left
}

.navbar-logo{
    
    font-size:2.5rem;
    color: var(--main-color);
    cursor: pointer;
}

.navbar-logo spam{
    color:  var(--second-color);
}

.navbar a{
    color: var(--main-color);
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 2rem;
    
    
}

.navbar a:hover{
    background-color: var(--second-color);
    color: white;
}

header .fa-bars{
    font-size: 3rem;
    cursor: pointer;
    z-index:  2000;
    display: none;
    color: var(--second-color);
}

.main-content{
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px 40px;
    margin-left: 2%;
    
}

.main-content h1{
    font-size: 6rem;
    color: var(--main-color); 
    z-index: 100;
}

.main-content p{
    margin: 2px;
    font-size: 3rem;
    color: var(--main-color);

}

.main-content input{
  
    cursor: pointer;
    background-color: var(--second-color);
    color: white;
    font-size: 3rem;
    width: 300px;
    height: 70px;
    border-radius: 1rem;
    padding: 4px;
}

.main-content img{
    width: 50vw;   
}


@media (max-width:800px) {
    html{
        font-size:55%;
    }
    header .fa-bars{
        display:block;
        margin-right: 3px;
    }
    .navbar{
        position: fixed;
        top:0; left:+120%;
        height: 100vh;
        width: 35vw;
        background:rgba(0, 0, 0, .8);
        flex-flow: row wrap;
        justify-content: center;
        align-items:center;  
          

    }

    .navbar ul{
        flex-flow: row wrap;
        height: 100%;
         
      
    }
    .navbar ul li{
        margin: 3rem 0;
        
    }

    .navbar ul li a{
        font-size: 3rem;
        color: white;

    }

    .main-content{
        transition: all .3s;
        flex-flow: column wrap-reverse;
        margin-top: 10%;
        
        
    }
    header .navbar-toggle{
        left:0;
      
    }
 
}


@media (max-width:600px) {
    html{
        font-size:45%;
    }

    .navbar ul li a{
        font-size:3rem;}


    
}

